<h2>
  <%= link_to like_post_path(@post), class: "btn btn-info" do %>
    Like <span class="badge"><%= @likes %></span>
  <% end %>
  <%= @post.title %>
</h2>

<p class="lead">
  <%= @post.body %>
</p>

<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary" %> 
<%= link_to 'Back', posts_path, class: "btn btn-primary" %>
